:root{
    --clr-Yellow: hsl(47, 88%, 63%);
    --clr-White: hsl(0, 0%, 100%);
    --clr-Grey: hsl(0, 0%, 50%);
    --clr-Black: hsl(0, 0%, 7%);
    --fw-l:500; --fw-b:700;
}
body{
    width: 100%;height: 906px;margin: 0;
    font-size: 16px;
    font-family: "Figtree";
    background-color: var(--clr-Yellow);
}
.container{
    background-color: var(--clr-White);
    width: 380px; margin: 220px auto;
    height: 520px; 
    padding-left: 1.2rem;padding-right: 1.2rem;
  /*   position: absolute; left: 50%;top: 50%;transform: translate(-50%,-50%);
 */   display: flex;flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    border-top: solid;border-left: solid;
    border-bottom: 0.6rem solid;border-right: 0.6rem solid;
}
.bgp{
    margin: 1.2rem 0;  
    height: 44%; 
}
.bgp img{
    border-radius: 1rem; width: 100%;    
}
button{
    background: var(--clr-Yellow); border: none;
    padding: 0.5rem 1rem; 
    border-radius: 0.4rem;
    margin-top: -1rem;
    font-weight: var(--fw-b);
}
.time p{
    font-weight: var(--fw-l);
}
h1{
    font-weight: var(--fw-b);
    font-size: 1.7rem;
    margin: -0.4rem 0;
}
h1:hover{
    color: var(--clr-Yellow);
    cursor: pointer;
}

.description{
    font-weight: var(--fw-l);width: 90%;
    color: var(--clr-Grey);
}

.author{
    display: flex; gap: 1rem; margin-bottom: 1.2rem;
}
.author object{
    width: 3rem;height: auto;
}
.author p{
    font-weight: var(--fw-b);
}

.attribution{
   display: flex;justify-content: center;
}

@media (width < 450px){
    body{
        font-size: 12px;height: 100vh;
    }
    .container{
        width: 80%;
        height: 65%;
        padding-left: 0.8rem;
    }
    h1{
        font-size: 1.3rem;
    }
}
@media (450px < width < 750px){
    .container{
        width: 50%;}
}